.testimonials {
  position: relative;
  padding-top: 166px; }
  .testimonials:after {
    content: "";
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: -140px; }
  .testimonials__background-block {
    background-color: #fff;
    height: 100%;
    width: 100%; }
  .testimonials__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #56ccf2;
    margin-left: 37px;
    margin-bottom: 19px;
    position: relative; }
    .testimonials__title:before {
      content: "";
      width: 21px;
      height: 21px;
      background-image: url("../images/sub-title/sub-title-icon-dark.svg");
      position: absolute;
      bottom: 0;
      left: calc(-21px - 16px); }
  .testimonials__subtitle {
    font-weight: 900;
    font-size: 32px;
    line-height: 45px;
    color: #253757;
    margin-bottom: 64px; }
  .testimonials__contant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center; }
  .testimonials__block {
    width: 314px;
    height: 464px;
    padding: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fefefe;
    -webkit-box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
            box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05); }
    .testimonials__block:hover {
      -webkit-transform: scale(0.96, 0.96);
              transform: scale(0.96, 0.96); }
  .testimonials__photo-block {
    position: relative;
    height: 185px;
    margin-bottom: 6px; }
  .testimonials__iris {
    display: inline-block;
    width: 162px;
    height: 64px;
    position: absolute;
    left: 42px;
    top: 50px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2;
    border-radius: 500px;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg); }
    .testimonials__iris--yellow {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .testimonials__iris--red {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .testimonials__photo {
    height: 118px;
    width: 90px;
    position: absolute;
    left: 72px;
    top: 60px; }
  .testimonials__quote {
    font-size: 15px;
    line-height: 22px;
    color: #253757;
    margin-bottom: 64px;
    position: relative; }
    .testimonials__quote:after {
      content: "";
      width: 64px;
      height: 2px;
      position: absolute;
      top: 100px;
      left: 93px;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
    .testimonials__quote--yellow:after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc304;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc304; }
    .testimonials__quote--red:after {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f25656;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f25656; }
  .testimonials__name {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #152032; }
  .testimonials__position {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-transform: uppercase;
    color: #56ccf2; }
    .testimonials__position--yellow {
      color: #fcc304; }
    .testimonials__position--red {
      color: #f25656; }
  @media (max-width: 999px) {
    .testimonials__contant {
      -ms-flex-pack: distribute;
          justify-content: space-around; }
    .testimonials__block {
      margin-right: 32px;
      margin-bottom: 86px; }
      .testimonials__block:last-child {
        margin-bottom: 0; } }
  @media (max-width: 599px) {
    .testimonials__block {
      margin-right: 0; } }

/*# sourceMappingURL=testimonials.css.map */
